<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Clientes</h1>

<table style="border: 2px solid;">
    <tr>
        <th style="border: 2px solid;">Nome</th>
        <th style="border: 2px solid;">Cpf</th>
    </tr>

  
        <% listacliente.forEach(cliente => { %>  
            <tr>
     <td style="border: 2px solid;"><%= cliente.nome %></td> 
    <td style="border: 2px solid;"><%=cliente.cpf %></td>
     <td> <form action="/deletar/<%= cliente._id %>" method="POST">
        <button type="submit">Excluir</button>
        <input type="button" value="Voltar" onclick="history.back()">
      </form></td>
      </tr>
  <% }) %>

</table>
</body>

</html>