<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer node.js</title>
</head>
<style>
div{
display:flex;

width: max-content;

}

</style>
<body>
    <strong><h1>Cadastrar cliente</h1></strong>
   <div class="fieldset">
    <fieldset >

        <form action="/add" method="post">
            <p>Id</p>
            <input type="text" name="id"><br>
                    <p>Nome: </p>
        <input type="text" name="nome"><br>
        <p>CPF: </p>
        <input type="text" name="cpf"><br>
        <p>Email: </p>
        <input type="text" name="email" placeholder="diga seu e-mail"><br>
        <p>Telefone: </p>
        <input type="text" name="telefone">
        <p>Fidelidade: </p>
        <input type="text" name="fidelidade" value="false"><br><br>
        <input type="submit" name="Enviar">
        <input  type="button" value="Voltar" onclick="history.back()">

</form>
</fieldset>
</div>
</body>
</html>