<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th>nome</th>
            <th>idade</th>
        </tr>
      
            <% for(let i = 0; i < listaDelete.length; i++) { %>
              
                <tr>
                    
                <td><%= listaDelete[i].nome %> </td>
                <td><%= listaDelete[i].idade %></td>
                <td><form action="/deletar/<%= listaDelete[i].id %>" method="post">
                    <input type="submit" name="deletar">
                </form>
            </td>
                </tr>
             
       
        <% } %>
   
    
    </table>


</body>
</html>