<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deletar Medicamento:</h1>
<table>

    <tr>
        <th>Nome</th>
        <th>Nivel</th>
    </tr>

<% for(let i = 0 ; i < medicamentoDLista.length ; i++){%>

    <tr>
        <td><%= medicamentoDLista[i].nome %></td>
        <td><%= medicamentoDLista[i].nivel %></td>
        <td><form action="/deleteM/<%= medicamentoDLista[i].id %>" method="post">
            <input type="submit" value="Deletar">

        </form></td>
    </tr>
<%}%>


</table>

</body>
</html>