<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .div_1{
            display: flex;
            justify-content: center;
        }
        div:nth-child(1){
            
            padding-right: 20px;
        }
        body{
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    
    <center><h1>Home</h1></center>
<div class="div_1">
    <div>
        <ol>
            <li><a href="http://localhost:8081/visao">Cadastrar Paciente</a></li>
            <li><a href="http://localhost:8081/lista">Lista Paciente</a></li>
            <li><a href="http://localhost:8081/listaD">Deletar Paciente</a></li>
            <li><a href="http://localhost:8081/listaUp">Atualizar Paciente</a></li>

        </ol>
    </div>
    <div>
            <ol>
                <li><a href="http://localhost:8081/med">Cadastrar Medicamento</a></li>
                <li><a href="http://localhost:8081/listaM">Listar Medicamentos</a></li>
                <li><a href="http://localhost:8081/listD">Deletar Medicamento</a></li>
                <li><a href="http://localhost:8081/listaupM">Atualizar Medicamento</a></li>
            </ol>           
    </div>
</div>

</body>
</html>