<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .tabela{
            display: flex;
            justify-content: center;
        }
        table{
            border: solid 2px blue;
            background-color: rgba(153, 205, 50, 0.315);
        }
        th{
            border: 2px solid blue;
        }
        
        td{
            border: 2px solid blue;
        }
    </style>
</head>
<body style="background-color: black; color: yellow; text-align: center;"  >

    <center><h1>Lista de Pacientes:</h1></center>

    <div class="tabela">
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Medicamentos</th>
        </tr>
      
            <% for(let i = 0; i < listapaciente.length; i++) { %>
              
                
               
                <tr>
                <td><%= listapaciente[i].id = i+1 %> </td>
                <td><%= listapaciente[i].nome %> </td>
                <td><%= listapaciente[i].idade %></td>

                <% if (listapaciente[i].medicamento == 0){%>
                    <td>Sem medicamentos</td>
                <%} else {%>
                    
                    <td><%= listapaciente[i].medicamento %></td>
                <%}%>
                
               </tr>
    
       
        <% } %>
   
    
    </table>
</div>
</body>
</html>