<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Lista de Medicamento:</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Nivel</th>
    </tr>

<% for(let i = 0 ; i < listaMedicamento.length ;  i++  ){%>
    
    <tr>
    <td><%= listaMedicamento[i].nome%></td>
    <td><%= listaMedicamento[i].nivel%></td>
    </tr>
    
<%}%>



</table>

</body>
</html>