<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicamento</title>
    <style>
        body{
            background-color: brown;
            
            
        }
        fieldset{
            background-color: burlywood;
        }
        .div{
            display: flex;
            justify-content: center;
           
        }
        h1{
            color: aqua;
        }
    </style>
</head>
<body>
    
    <center><h1>Cadastro de Medicamento</h1></center>


<div class="div">
<fieldset style="width: max-content;">
    
<form action="/cadastrom" method="post">
    <input type="text" name="nome" placeholder="Nome"><br><br>
    <input type="number"  name="nivel" placeholder="Nivel">
    <input type="submit" value="Enviar">
</form>

</fieldset>
</div> 


</body>
</html>