<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <style>
        .fieldset{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body style="background-color: burlywood;">
    <center><h1>Cadastrar Paciente</h1></center>

<section>

<div class="fieldset">
    <fieldset style="background-color: tomato; width: max-content;">
    <form action="/cadastro" method="post">

    <input type="text" name="nome" placeholder="nome"><br><br>
    <input type="number" name="idade" placeholder="idade"><br><br>
    <select name="medicamento">
        <option></option>
        <option>649bc4cdea33447e451384e3</option>
    </select><br><br>
    <input type="submit" name="Enviar">

</form>
</div>
</fieldset>


</section>
    

</body>
</html>