<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <style>
        .fieldset{
            display: flex;
            justify-content: center;
        }

        .select{
            display: none;
        }
    </style>
    <script>



    function medicamento() {
        var nMedicamentos = document.getElementById('nMedicamentos').value;
        var html = '';
        
        for (let i = 0; i < nMedicamentos; i++) {
            html = html + `
                <select name="medicamento" >
                    <option>Sem Medicamento</option>
                    <% for (let j = 0; j < Medicamento.length; j++) { %>
                        <option><%= Medicamento[j].nome %></option>
                    <% } %>
                </select><br><br>
            `;
        }
        
        document.getElementById('medicamentosContainer').innerHTML = html;
    }


function valor(){

    5

}

    </script>
</head>
<body style="background-color: burlywood;">
    <center><h1>Cadastrar Paciente</h1></center>

<section>

<div class="fieldset">
    <fieldset style="background-color: tomato; width: max-content;">
    <form action="/cadastro" method="post">

    <input type="text" name="nome" placeholder="nome"><br><br>
    <input type="number" name="idade" placeholder="idade"><br><br>

    <div id="medicamentosContainer"></div>
    <input type="submit" name="Enviar">

</form><br>

<input type="number" id="nMedicamentos"  placeholder="N_Medicamentos">
<input type="submit"  value="Medicamento" onclick="medicamento()">


</fieldset>
</div>

</section>
    

</body>
</html>