<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    
<table>
<tr>
    <th>Nome</th>
    <th>Nivel</th>
</tr>

<% for(let i = 0 ; i < listaUp.length ; i++){%>

        <tr>

            <td><%= listaUp[i].nome %></td>
            <td><%= listaUp[i].nivel %>

        </tr>
        <tr>
            <form action="/updateM/<%= listaUp[i].id%>" method="post">
                <td><input type="text" name="nome" placeholder="Novo Nome"></td>
                <td><input type="text" name="nivel" placeholder="Novo Nivel"></td>
                <td><input type="submit" value="Atualizar"></td>
            </form>
        
        </tr>

<%}%>

</table>

</body>
</html>