<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Escolha a opção para Cliente</h1></center>

    <ol>
        <li><a href="http://localhost:8081/cad">Cadastrar Cliente</a></li>
        <a href="http://localhost:8081/listacliente"><li>Listar</li></a>
      <a href="http://localhost:8081/listaDelete"><li>Excluir</li></a>
       <a href="http://localhost:8081/listaUp"><li>Atualizar</li></a> 
    </ol>

    
</body>
</html>